<body >

<div class="navbar" th:fragment="Navbar">
  <a data-th-href="@{/showProducts}"> <img class="logo" data-th-src="@{/images/myntra_logo.webp}" alt="">  </a>
  <div class="catagory">
      <div class="catagory-data MEN">MEN
          <div class="popupdisplay">
              <div class="popup">
                  <div class="container1 MensContainers popupContainer1">
                      <h4>Topwear</h4>
                      <ul>
                          <a href="">
                              <li>T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Casual Shirts</li>
                          </a>
                          <a href="">
                              <li>Formal Shirts</li>
                          </a>
                          <a href="">
                              <li>Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sweaters</li>
                          </a>
                          <a href="">
                              <li>Jackets</li>
                          </a>
                          <a href="">
                              <li>Blazers & Coats</li>
                          </a>
                          <a href="">
                              <li>Suits</li>
                          </a>
                          <a href="">
                              <li>Rain Jackets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Indian & Festive Wear</h4>
                      <ul>
                          <a href="">
                              <li>Kurtas & Kurta Sets</li>
                          </a>
                          <a href="">
                              <li>Sherwanis</li>
                          </a>
                          <a href="">
                              <li>Nehru Jackets</li>
                          </a>
                          <a href="">
                              <li>Dhotis</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container2 MensContainers popupContainer2">
                      <h4>Bottom Wear</h4>
                      <ul>
                          <a href="">
                              <li>Jeans</li>
                          </a>
                          <a href="">
                              <li>Casual Trousers</li>
                          </a>
                          <a href="">
                              <li>Formal Trousers</li>
                          </a>
                          <a href="">
                              <li>Shorts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Joggers</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Innerwear & Sleepwear</h4>
                      <ul>
                          <a href="">
                              <li>Breifs & Trunks</li>
                          </a>
                          <a href="">
                              <li>Boxers</li>
                          </a>
                          <a href="">
                              <li>Vests</li>
                          </a>
                          <a href="">
                              <li>Sleepwear & Loungewear</li>
                          </a>
                          <a href="">
                              <li>Thermals</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Plus Size</h4>
                  </div>
                  <div class="container3 MensContainers popupContainer1">
                      <h4>Footwear</h4>
                      <ul>
                          <a href="">
                              <li>Casual Shoes</li>
                          </a>
                          <a href="">
                              <li>Formal Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sneakers</li>
                          </a>
                          <a href="">
                              <li>Sandals & Floaters</li>
                          </a>
                          <a href="">
                              <li>Flip Flops</li>
                          </a>
                          <a href="">
                              <li>Socks</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Personal Care & Groomings</h4>
                      <h4>Sunglasess & Frames</h4>
                      <h4>Watches</h4>
                  </div>
                  <div class="container4 MensContainers popupContainer2">
                      <h4>Sports & Active Wear</h4>
                      <ul>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Candals</li>
                          </a>
                          <a href="">
                              <li>Active T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Shorts</li>
                          </a>
                          <a href="">
                              <li>Tracksuits</li>
                          </a>
                          <a href="">
                              <li>Jackets & Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sports Accessories</li>
                          </a>
                          <a href="">
                              <li>Swimwear</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Gadgets</h4>
                      <ul>
                          <a href="">
                              <li>Smarts Wearables</li>
                          </a>
                          <a href="">
                              <li>Fitness Gadgets</li>
                          </a>
                          <a href="">
                              <li>Headphones</li>
                          </a>
                          <a href="">
                              <li>Speakers</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container5 MensContainers popupContainer1">
                      <h4>Fashion Accessories</h4>
                      <ul>
                          <a href="">
                              <li>Wallets</li>
                          </a>
                          <a href="">
                              <li>Belts</li>
                          </a>
                          <a href="">
                              <li>Perfumes & Body Mists.</li>
                          </a>
                          <a href="">
                              <li>Trimmers</li>
                          </a>
                          <a href="">
                              <li>Deodrants</li>
                          </a>
                          <a href="">
                              <li>Ties,Cufflinks & Pockets Squares</li>
                          </a>
                          <a href="">
                              <li>Accessory Gifts Sets</li>
                          </a>
                          <a href="">
                              <li>Caps & Hats</li>
                          </a>
                          <a href="">
                              <li>Mufflers,Scarves & Gloves</li>
                          </a>
                          <a href="">
                              <li>Phone Cases</li>
                          </a>
                          <a href="">
                              <li>Rings & Wristwear</li>
                          </a>
                          <a href="">
                              <li>Helmets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Bags & Bagpacks</h4>
                      <h4>Luggages & Trolleys</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="catagory-data WOMEN">WOMEN
          <div class="popupdisplay">
              <div class="popup">
                  <div class="container1 WomenContainers popupContainer1">
                      <h4>Topwear</h4>
                      <ul>
                          <a href="">
                              <li>T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Casual Shirts</li>
                          </a>
                          <a href="">
                              <li>Formal Shirts</li>
                          </a>
                          <a href="">
                              <li>Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sweaters</li>
                          </a>
                          <a href="">
                              <li>Jackets</li>
                          </a>
                          <a href="">
                              <li>Blazers & Coats</li>
                          </a>
                          <a href="">
                              <li>Suits</li>
                          </a>
                          <a href="">
                              <li>Rain Jackets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Indian & Festive Wear</h4>
                      <ul>
                          <a href="">
                              <li>Kurtas & Kurta Sets</li>
                          </a>
                          <a href="">
                              <li>Sherwanis</li>
                          </a>
                          <a href="">
                              <li>Nehru Jackets</li>
                          </a>
                          <a href="">
                              <li>Dhotis</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container2 WomenContainers popupContainer2">
                      <h4>Bottom Wear</h4>
                      <ul>
                          <a href="">
                              <li>Jeans</li>
                          </a>
                          <a href="">
                              <li>Casual Trousers</li>
                          </a>
                          <a href="">
                              <li>Formal Trousers</li>
                          </a>
                          <a href="">
                              <li>Shorts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Joggers</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Innerwear & Sleepwear</h4>
                      <ul>
                          <a href="">
                              <li>Breifs & Trunks</li>
                          </a>
                          <a href="">
                              <li>Boxers</li>
                          </a>
                          <a href="">
                              <li>Vests</li>
                          </a>
                          <a href="">
                              <li>Sleepwear & Loungewear</li>
                          </a>
                          <a href="">
                              <li>Thermals</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Plus Size</h4>
                  </div>
                  <div class="container3 WomenContainers popupContainer1">
                      <h4>Footwear</h4>
                      <ul>
                          <a href="">
                              <li>Casual Shoes</li>
                          </a>
                          <a href="">
                              <li>Formal Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sneakers</li>
                          </a>
                          <a href="">
                              <li>Sandals & Floaters</li>
                          </a>
                          <a href="">
                              <li>Flip Flops</li>
                          </a>
                          <a href="">
                              <li>Socks</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Personal Care & Groomings</h4>
                      <h4>Sunglasess & Frames</h4>
                      <h4>Watches</h4>
                  </div>
                  <div class="container4 WomenContainers popupContainer2">
                      <h4>Sports & Active Wear</h4>
                      <ul>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Candals</li>
                          </a>
                          <a href="">
                              <li>Active T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Shorts</li>
                          </a>
                          <a href="">
                              <li>Tracksuits</li>
                          </a>
                          <a href="">
                              <li>Jackets & Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sports Accessories</li>
                          </a>
                          <a href="">
                              <li>Swimwear</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Gadgets</h4>
                      <ul>
                          <a href="">
                              <li>Smarts Wearables</li>
                          </a>
                          <a href="">
                              <li>Fitness Gadgets</li>
                          </a>
                          <a href="">
                              <li>Headphones</li>
                          </a>
                          <a href="">
                              <li>Speakers</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container5 WomenContainers popupContainer1">
                      <h4>Fashion Accessories</h4>
                      <ul>
                          <a href="">
                              <li>Wallets</li>
                          </a>
                          <a href="">
                              <li>Belts</li>
                          </a>
                          <a href="">
                              <li>Perfumes & Body Mists.</li>
                          </a>
                          <a href="">
                              <li>Trimmers</li>
                          </a>
                          <a href="">
                              <li>Deodrants</li>
                          </a>
                          <a href="">
                              <li>Ties,Cufflinks & Pockets Squares</li>
                          </a>
                          <a href="">
                              <li>Accessory Gifts Sets</li>
                          </a>
                          <a href="">
                              <li>Caps & Hats</li>
                          </a>
                          <a href="">
                              <li>Mufflers,Scarves & Gloves</li>
                          </a>
                          <a href="">
                              <li>Phone Cases</li>
                          </a>
                          <a href="">
                              <li>Rings & Wristwear</li>
                          </a>
                          <a href="">
                              <li>Helmets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Bags & Bagpacks</h4>
                      <h4>Luggages & Trolleys</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="catagory-data KIDS">KIDS
          <div class="popupdisplay">
              <div class="popup">
                  <div class="container1 KidsContainers popupContainer1">
                      <h4>Topwear</h4>
                      <ul>
                          <a href="">
                              <li>T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Casual Shirts</li>
                          </a>
                          <a href="">
                              <li>Formal Shirts</li>
                          </a>
                          <a href="">
                              <li>Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sweaters</li>
                          </a>
                          <a href="">
                              <li>Jackets</li>
                          </a>
                          <a href="">
                              <li>Blazers & Coats</li>
                          </a>
                          <a href="">
                              <li>Suits</li>
                          </a>
                          <a href="">
                              <li>Rain Jackets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Indian & Festive Wear</h4>
                      <ul>
                          <a href="">
                              <li>Kurtas & Kurta Sets</li>
                          </a>
                          <a href="">
                              <li>Sherwanis</li>
                          </a>
                          <a href="">
                              <li>Nehru Jackets</li>
                          </a>
                          <a href="">
                              <li>Dhotis</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container2 KidsContainers popupContainer2">
                      <h4>Bottom Wear</h4>
                      <ul>
                          <a href="">
                              <li>Jeans</li>
                          </a>
                          <a href="">
                              <li>Casual Trousers</li>
                          </a>
                          <a href="">
                              <li>Formal Trousers</li>
                          </a>
                          <a href="">
                              <li>Shorts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Joggers</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Innerwear & Sleepwear</h4>
                      <ul>
                          <a href="">
                              <li>Breifs & Trunks</li>
                          </a>
                          <a href="">
                              <li>Boxers</li>
                          </a>
                          <a href="">
                              <li>Vests</li>
                          </a>
                          <a href="">
                              <li>Sleepwear & Loungewear</li>
                          </a>
                          <a href="">
                              <li>Thermals</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Plus Size</h4>
                  </div>
                  <div class="container3 KidsContainers popupContainer1">
                      <h4>Footwear</h4>
                      <ul>
                          <a href="">
                              <li>Casual Shoes</li>
                          </a>
                          <a href="">
                              <li>Formal Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sneakers</li>
                          </a>
                          <a href="">
                              <li>Sandals & Floaters</li>
                          </a>
                          <a href="">
                              <li>Flip Flops</li>
                          </a>
                          <a href="">
                              <li>Socks</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Personal Care & Groomings</h4>
                      <h4>Sunglasess & Frames</h4>
                      <h4>Watches</h4>
                  </div>
                  <div class="container4 KidsContainers popupContainer2">
                      <h4>Sports & Active Wear</h4>
                      <ul>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Candals</li>
                          </a>
                          <a href="">
                              <li>Active T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Shorts</li>
                          </a>
                          <a href="">
                              <li>Tracksuits</li>
                          </a>
                          <a href="">
                              <li>Jackets & Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sports Accessories</li>
                          </a>
                          <a href="">
                              <li>Swimwear</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Gadgets</h4>
                      <ul>
                          <a href="">
                              <li>Smarts Wearables</li>
                          </a>
                          <a href="">
                              <li>Fitness Gadgets</li>
                          </a>
                          <a href="">
                              <li>Headphones</li>
                          </a>
                          <a href="">
                              <li>Speakers</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container5 KidsContainers popupContainer1">
                      <h4>Fashion Accessories</h4>
                      <ul>
                          <a href="">
                              <li>Wallets</li>
                          </a>
                          <a href="">
                              <li>Belts</li>
                          </a>
                          <a href="">
                              <li>Perfumes & Body Mists.</li>
                          </a>
                          <a href="">
                              <li>Trimmers</li>
                          </a>
                          <a href="">
                              <li>Deodrants</li>
                          </a>
                          <a href="">
                              <li>Ties,Cufflinks & Pockets Squares</li>
                          </a>
                          <a href="">
                              <li>Accessory Gifts Sets</li>
                          </a>
                          <a href="">
                              <li>Caps & Hats</li>
                          </a>
                          <a href="">
                              <li>Mufflers,Scarves & Gloves</li>
                          </a>
                          <a href="">
                              <li>Phone Cases</li>
                          </a>
                          <a href="">
                              <li>Rings & Wristwear</li>
                          </a>
                          <a href="">
                              <li>Helmets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Bags & Bagpacks</h4>
                      <h4>Luggages & Trolleys</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="catagory-data HOMELIVING">HOME & LIVING
          <div class="popupdisplay">
              <div class="popup">
                  <div class="container1 HomeLivingContainers popupContainer1">
                      <h4>Topwear</h4>
                      <ul>
                          <a href="">
                              <li>T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Casual Shirts</li>
                          </a>
                          <a href="">
                              <li>Formal Shirts</li>
                          </a>
                          <a href="">
                              <li>Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sweaters</li>
                          </a>
                          <a href="">
                              <li>Jackets</li>
                          </a>
                          <a href="">
                              <li>Blazers & Coats</li>
                          </a>
                          <a href="">
                              <li>Suits</li>
                          </a>
                          <a href="">
                              <li>Rain Jackets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Indian & Festive Wear</h4>
                      <ul>
                          <a href="">
                              <li>Kurtas & Kurta Sets</li>
                          </a>
                          <a href="">
                              <li>Sherwanis</li>
                          </a>
                          <a href="">
                              <li>Nehru Jackets</li>
                          </a>
                          <a href="">
                              <li>Dhotis</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container2 HomeLivingContainers popupContainer2">
                      <h4>Bottom Wear</h4>
                      <ul>
                          <a href="">
                              <li>Jeans</li>
                          </a>
                          <a href="">
                              <li>Casual Trousers</li>
                          </a>
                          <a href="">
                              <li>Formal Trousers</li>
                          </a>
                          <a href="">
                              <li>Shorts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Joggers</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Innerwear & Sleepwear</h4>
                      <ul>
                          <a href="">
                              <li>Breifs & Trunks</li>
                          </a>
                          <a href="">
                              <li>Boxers</li>
                          </a>
                          <a href="">
                              <li>Vests</li>
                          </a>
                          <a href="">
                              <li>Sleepwear & Loungewear</li>
                          </a>
                          <a href="">
                              <li>Thermals</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Plus Size</h4>
                  </div>
                  <div class="container3 HomeLivingContainers popupContainer1">
                      <h4>Footwear</h4>
                      <ul>
                          <a href="">
                              <li>Casual Shoes</li>
                          </a>
                          <a href="">
                              <li>Formal Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sneakers</li>
                          </a>
                          <a href="">
                              <li>Sandals & Floaters</li>
                          </a>
                          <a href="">
                              <li>Flip Flops</li>
                          </a>
                          <a href="">
                              <li>Socks</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Personal Care & Groomings</h4>
                      <h4>Sunglasess & Frames</h4>
                      <h4>Watches</h4>
                  </div>
                  <div class="container4 HomeLivingContainers popupContainer2">
                      <h4>Sports & Active Wear</h4>
                      <ul>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Candals</li>
                          </a>
                          <a href="">
                              <li>Active T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Shorts</li>
                          </a>
                          <a href="">
                              <li>Tracksuits</li>
                          </a>
                          <a href="">
                              <li>Jackets & Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sports Accessories</li>
                          </a>
                          <a href="">
                              <li>Swimwear</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Gadgets</h4>
                      <ul>
                          <a href="">
                              <li>Smarts Wearables</li>
                          </a>
                          <a href="">
                              <li>Fitness Gadgets</li>
                          </a>
                          <a href="">
                              <li>Headphones</li>
                          </a>
                          <a href="">
                              <li>Speakers</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container5 HomeLivingContainers popupContainer1">
                      <h4>Fashion Accessories</h4>
                      <ul>
                          <a href="">
                              <li>Wallets</li>
                          </a>
                          <a href="">
                              <li>Belts</li>
                          </a>
                          <a href="">
                              <li>Perfumes & Body Mists.</li>
                          </a>
                          <a href="">
                              <li>Trimmers</li>
                          </a>
                          <a href="">
                              <li>Deodrants</li>
                          </a>
                          <a href="">
                              <li>Ties,Cufflinks & Pockets Squares</li>
                          </a>
                          <a href="">
                              <li>Accessory Gifts Sets</li>
                          </a>
                          <a href="">
                              <li>Caps & Hats</li>
                          </a>
                          <a href="">
                              <li>Mufflers,Scarves & Gloves</li>
                          </a>
                          <a href="">
                              <li>Phone Cases</li>
                          </a>
                          <a href="">
                              <li>Rings & Wristwear</li>
                          </a>
                          <a href="">
                              <li>Helmets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Bags & Bagpacks</h4>
                      <h4>Luggages & Trolleys</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="catagory-data BEAUTY">BEAUTY
          <div class="popupdisplay">
              <div class="popup">
                  <div class="container1 BeautyContainers popupContainer1">
                      <h4>Topwear</h4>
                      <ul>
                          <a href="">
                              <li>T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Casual Shirts</li>
                          </a>
                          <a href="">
                              <li>Formal Shirts</li>
                          </a>
                          <a href="">
                              <li>Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sweaters</li>
                          </a>
                          <a href="">
                              <li>Jackets</li>
                          </a>
                          <a href="">
                              <li>Blazers & Coats</li>
                          </a>
                          <a href="">
                              <li>Suits</li>
                          </a>
                          <a href="">
                              <li>Rain Jackets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Indian & Festive Wear</h4>
                      <ul>
                          <a href="">
                              <li>Kurtas & Kurta Sets</li>
                          </a>
                          <a href="">
                              <li>Sherwanis</li>
                          </a>
                          <a href="">
                              <li>Nehru Jackets</li>
                          </a>
                          <a href="">
                              <li>Dhotis</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container2 BeautyContainers popupContainer2">
                      <h4>Bottom Wear</h4>
                      <ul>
                          <a href="">
                              <li>Jeans</li>
                          </a>
                          <a href="">
                              <li>Casual Trousers</li>
                          </a>
                          <a href="">
                              <li>Formal Trousers</li>
                          </a>
                          <a href="">
                              <li>Shorts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Joggers</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Innerwear & Sleepwear</h4>
                      <ul>
                          <a href="">
                              <li>Breifs & Trunks</li>
                          </a>
                          <a href="">
                              <li>Boxers</li>
                          </a>
                          <a href="">
                              <li>Vests</li>
                          </a>
                          <a href="">
                              <li>Sleepwear & Loungewear</li>
                          </a>
                          <a href="">
                              <li>Thermals</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Plus Size</h4>
                  </div>
                  <div class="container3 BeautyContainers popupContainer1">
                      <h4>Footwear</h4>
                      <ul>
                          <a href="">
                              <li>Casual Shoes</li>
                          </a>
                          <a href="">
                              <li>Formal Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sneakers</li>
                          </a>
                          <a href="">
                              <li>Sandals & Floaters</li>
                          </a>
                          <a href="">
                              <li>Flip Flops</li>
                          </a>
                          <a href="">
                              <li>Socks</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Personal Care & Groomings</h4>
                      <h4>Sunglasess & Frames</h4>
                      <h4>Watches</h4>
                  </div>
                  <div class="container4 BeautyContainers popupContainer2">
                      <h4>Sports & Active Wear</h4>
                      <ul>
                          <a href="">
                              <li>Sports Shoes</li>
                          </a>
                          <a href="">
                              <li>Sports Candals</li>
                          </a>
                          <a href="">
                              <li>Active T-Shirts</li>
                          </a>
                          <a href="">
                              <li>Track Pants & Shorts</li>
                          </a>
                          <a href="">
                              <li>Tracksuits</li>
                          </a>
                          <a href="">
                              <li>Jackets & Sweatshirts</li>
                          </a>
                          <a href="">
                              <li>Sports Accessories</li>
                          </a>
                          <a href="">
                              <li>Swimwear</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Gadgets</h4>
                      <ul>
                          <a href="">
                              <li>Smarts Wearables</li>
                          </a>
                          <a href="">
                              <li>Fitness Gadgets</li>
                          </a>
                          <a href="">
                              <li>Headphones</li>
                          </a>
                          <a href="">
                              <li>Speakers</li>
                          </a>
                      </ul>
                  </div>
                  <div class="container5 BeautyContainers popupContainer1">
                      <h4>Fashion Accessories</h4>
                      <ul>
                          <a href="">
                              <li>Wallets</li>
                          </a>
                          <a href="">
                              <li>Belts</li>
                          </a>
                          <a href="">
                              <li>Perfumes & Body Mists.</li>
                          </a>
                          <a href="">
                              <li>Trimmers</li>
                          </a>
                          <a href="">
                              <li>Deodrants</li>
                          </a>
                          <a href="">
                              <li>Ties,Cufflinks & Pockets Squares</li>
                          </a>
                          <a href="">
                              <li>Accessory Gifts Sets</li>
                          </a>
                          <a href="">
                              <li>Caps & Hats</li>
                          </a>
                          <a href="">
                              <li>Mufflers,Scarves & Gloves</li>
                          </a>
                          <a href="">
                              <li>Phone Cases</li>
                          </a>
                          <a href="">
                              <li>Rings & Wristwear</li>
                          </a>
                          <a href="">
                              <li>Helmets</li>
                          </a>
                      </ul>
                      <hr>
                      <h4>Bags & Bagpacks</h4>
                      <h4>Luggages & Trolleys</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="catagory-data STUDIO">STUDIO<sup><span>New</span></sup></div>

  </div>
  <div class="search-box">
      <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input onkeyup="search()" class="" id="SearchBox" placeholder="Search for products,brands and more" type="search">
      <div id="SearchResult" class="SearchResult">



      </div>
  </div>
  <div class="profiles">
      <div class="profile">
          <i class="fa-regular fa-user"></i>
          <span>Profile</span>

          <div class="profilePopup">
                <h3>Wellcome</h3>
                <div th:if="${user != null}">
                    <p th:text="${user.name.substring(0, 1).toUpperCase() + user.name.substring(1)}"></p>
                </div>
                <div th:unless="${user != null}">
                <p>To access account and manage orders</p>
                <a data-th-href="@{/login}"><button>Login / Signin</button></a></div>
              <hr>
              <ul>
                  <a data-th-href="@{/Order}">
                      <li>Orders</li>
                  </a>
                  <a href="">
                      <li>Watchlist</li>
                  </a>
                  <a href="">
                      <li>Gift Cards</li>
                  </a>
                  <a href="">
                      <li>Contact Us</li>
                  </a>
                  <a href="">
                      <li>Myntra Insider</li>
                  </a>
                  <hr>
                  <a href="">
                      <li>Myntra Credits</li>
                  </a>
                  <a href="">
                      <li>Coupons</li>
                  </a>
                  <a href="">
                      <li>Saved Cards</li>
                  </a>
                  <a href="">
                      <li>Saved VPA</li>
                  </a>
                  <a href="">
                      <li>Saved Address</li>
                  </a>

              </ul>
          </div>
      </div>
      <div class="watchlist">
          <a data-th-href="@{/watchlist}">
              <i class="fa-regular fa-heart"></i>
              <span>Watchlist</span>
              <span class="watchlistCnt">0</span>
          </a>
      </div>
      <a class="bag" data-th-href="@{/Bag}">
          <i class="fa-solid fa-bag-shopping"></i>
          <span>Bag</span>
          <span class="bag-count">0</span>
      </a>
  </div>
</div>




<div class="footer" th:fragment="Footer">
    <div class="row1">
        <div class="col1">
            <a href="">
                <h4>ONLINE SHOPPING</h4>
            </a>
            <a href="">
                <li>Men</li>
            </a>
            <a href="">
                <li>Women</li>
            </a>
            <a href="">
                <li>Kids</li>
            </a>
            <a href="">
                <li>Home & Living</li>
            </a>
            <a href="">
                <li>Beauty</li>
            </a>
            <a href="">
                <li>Gift Cards</li>
            </a>
            <a href="">
                <li>Myntra Insider</li>
            </a>

            <a href="">
                <h4>USEFUL LINKS</h4>
            </a>
            <a href="">
                <li>Blog</li>
            </a>
            <a href="">
                <li>Careers</li>
            </a>
            <a href="">
                <li>Site Map</li>
            </a>
            <a href="">
                <li>Corporate Information</li>
            </a>
            <a href="">
                <li>White Hat</li>
            </a>
            <a href="">
                <li>ClearTrip</li>
            </a>
        </div>
        <div class="col2">
            <a href="">
                <h4>COSTOMER POLICIES</h4>
            </a>

            <a href="">
                <li>Contact Us</li>
            </a>
            <a href="">
                <li>FAQ</li>
            </a>
            <a href="">
                <li>T&C</li>
            </a>
            <a href="">
                <li>Terms Of Us</li>
            </a>
            <a href="">
                <li>Tracks Orders</li>
            </a>
            <a href="">
                <li>Shippings</li>
            </a>
            <a href="">
                <li>Cancellation</li>
            </a>
            <a href="">
                <li>Returns</li>
            </a>
            <a href="">
                <li>Privacy Policy</li>
            </a>
            <a href="">
                <li>Grievance Officer</li>
            </a>
        </div>
        <div class="col3">
            <a href="">
                <h4>EXPERIENCE MYNTRA APP ON MOBILE</h4>
            </a>
            <div></div>

            <a href="">
                <h4>KEEP IN TOUCH</h4>
            </a>
            <div class="icons">

            </div>
        </div>
        <div class="col4">
            <spam class="highlight">100% ORIGINAL</spam> guarantee for all products at myntra.com

            <div>
                <spam class="highlight">Return within 14days</spam> of receiving your order
            </div>
        </div>
    </div>
    <div class="row2">
        <h4>POPULAR SEARCHES</h4>
        <a href="">Dishant Patel</a> | <a href="">Men Sports Shoes</a> |
        <a href="">Adidas</a> | <a href="">Arrow</a> | <a href="">Fila</a> | <a href="">Online Shopping</a> | <a
            href="">Nike</a> | <a href="">Pepe Jeans</a> | <a href="">Puma</a> | <a href="">United Colors Of
            Benetton</a> | <a href="">Fastrack</a> | <a href="">Shorts</a> | <a href="">Being Human</a> | <a
            href="">Skirts</a> | <a href="">Woodland</a> | <a href="">Supra</a> | <a href="">Dresses</a> | <a
            href="">Men Shopping</a> | <a href="">Women Shopping</a> | <a href="">Blazers</a> | <a
            href="">Sherwani</a> | <a href="">Online Shopping</a> | <a href="">Men Olive Green & Cream Coloured
            St</a> | <a href="">Rahul Raina</a> | <a href="">Saurabh Sharma</a> | <a href="">Clothing</a> | <a
            href="">Jewellery</a> | <a href="">T Shirts</a> | <a href="">Shoes</a> |
        <a href="">Bags</a> | <a href="">Watches</a> |<a href="">Caps</a> | <a href="">Shirts</a> | <a
            href="">Backpacks</a> | <a href="">Puma</a> | <a href="">Tshirts</a> | <a href="">Woodland</a> | <a
            href="">Shoes</a> | <a href="">Titan</a> | <a href="">Watches</a> | <a href="">Fastrack</a> | <a
            href="">Watches</a> | <a href="">Wrangler Shirts</a> | <a href="">Adidas Tshirts</a> | <a
            href="">Nike Shoes</a> | <a href="">Roadster Shirts</a> | <a href="">Casual Shoes</a> | <a
            href="">Running Shoes</a> | <a href="">Nike Sports Shoes</a> |<a href="">Jeans</a> | <a
            href="">Being Human Tshirts</a> | <a href="">Converse Shoes</a> |<a href="">Cricket Shoes</a> |





    </div>
    <div class="row3">
        <h5>In case of any concern,<a href="">Contact Us</a></h5>
        <p>© 2024 www.myntra.com. All rights reserved.</p>
        <p>A Flipkart company</p>
    </div>
</div>

</body>